body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    

}

.headercontainer {
    display: flex;
    flex-direction: column;
    max-width: 100vw;
    background-color: #1F2937;
    min-height: 60vh;
}

.headerbar {
    display: flex;
    padding: 0 15vw;
    justify-content: space-between;
}

.headerlogo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 700;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 32px;
}

a {
    text-decoration: none;
}

.headerRL {
    display: flex;
    flex-direction: row;
    padding-left: 15vw;
    padding-right: 15vw;
    padding-top: 10vh;
}

.headerleft {
    flex-direction: column;
    flex-wrap: wrap;
    min-width: 27vw;
    padding-right: 8vw;
}

.headerright {
    min-width: 35vw;
    display: flex;
    margin-right: auto;
    flex-direction: row-reverse;
}

.herotext {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
    margin: 0;
    padding: 0;
}

.herosubtext, .headerlinks, .signup{
    color: #E5E7EB;
    font-size: 18px;
}

.signup {
    background-color: #3882F6;
    padding: 8px 28px;
    font-weight: 700;
    border-radius: 8px;
    border-style: none;
}

.longmushroom {
    width: 600px;
    height: 300px;

}




.randominfo {
    text-align: center;
    min-height: 48vh;
    margin-top: 7vh;
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

img.smallmushroom {
    width: 200px;
    height: 200px;
}

.infocontainer {
    display: flex;
    gap: 5vh;
    justify-content: center;
    margin-top: 7vh;
}

.info{
    max-width: 200px;
    justify-content: center;
    font-size: 14px;
    font-weight: 400;
}





.quotecontainer {
    background-color: #E5E7EB;
    max-width: 100vw;
    min-height: 45vh;
}

.quotetext {
    font-style: italic;
    font-weight: 300;
    font-size: 36px;
    max-width: 50vw;
    margin-left: 25vw;
    margin-top: 12vh;
}

.thor {
    display: flex;
    font-weight: 700;
    font-size: 24px;
    margin-left: 60vw;
    max-width: 15vw;
}




.calltoaction{
    min-height: 35vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bluebox{
    min-height: 5vh;
    min-width: 55vw;
    background-color: #3882F6;
    border-style: none;
    border-radius: 9px;
    padding: 60px 180px;
    display: flex;
    color: white;
}

.blueboxtext {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

h3{
    font-size: 24px;
}

.signup2 {
    background-color: #3882F6;
    border-color: white;
    color: white;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 700;
    padding: 0px 40px;
    margin-left: 30vw;
    border-width: 3px;
}

.footer {
    margin-top: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 10vh;
    background-color: #1F2937;
    color: white;
}

h3, .blue1 {
    margin: 0;
}






